---
import Layout from '../layouts/Layout.astro';
import StackEntry from "../components/stack/StackEntry.astro";
import TechStack from "../components/stack/Stack.astro";

import CSS from '../assets/logos/CSS.astro';
import Php from '../assets/logos/Php.astro';
import Typescript from '../assets/logos/Typescript.astro';
import Javascript from '../assets/logos/Javascript.astro';
import HTML from "../assets/logos/HTML.astro";
import Git from "../assets/logos/Git.astro";
import Github from "../assets/logos/Github.astro";
import AdobeXD from "../assets/logos/AdobeXD.astro";
import AdobeIllustrator from "../assets/logos/AdobeIllustrator.astro";
import AdobePhotoshop from "../assets/logos/AdobePhotoshop.astro";
import TailwindCSS from "../assets/logos/TailwindCSS.astro";
import AstroJS from "../assets/logos/AstroJS.astro";
import Figma from "../assets/logos/Figma.astro";
import WebStorm from "../assets/logos/WebStorm.astro";
import PhpStorm from "../assets/logos/PhpStorm.astro";
import Unity from "../assets/logos/Unity.astro";
import Blender from "../assets/logos/Blender.astro";
import StimulusJS from "../assets/logos/StimulusJS.astro";
import Hugo from "../assets/logos/Hugo.astro";
import Symfony from "../assets/logos/Symfony.astro";
import Shopware from "../assets/logos/Shopware.astro";
import Sulu from "../assets/logos/Sulu.astro";
import CSharp from "../assets/logos/CSharp.astro";
import Vercel from "../assets/logos/Vercel.astro";
import Twig from "../assets/logos/Twig.astro";
import Scss from "../assets/logos/Scss.astro";
import React from "../assets/logos/React.astro";

const iconStyling = "w-12 h-12 p-2 rounded-md bg-primary-darker";
---

<Layout title="Mikael Röthig | Stack">
    <div>
        <h1>Stack</h1>
        <p class="text-sm">
            The technologies that power my projects, including programming languages, libraries, frameworks, platforms,
            and tools.
        </p>
    </div>

    <TechStack heading="Programming Languages">
        <StackEntry href="https://www.php.net/" heading="PHP" subheading="General purpose">
            <Php tailwindAttr=`${iconStyling}`/>
        </StackEntry>
        <StackEntry href="https://learn.microsoft.com/en-us/dotnet/csharp/" heading="C#" subheading="General purpose">
            <CSharp tailwindAttr=`${iconStyling}`/>
        </StackEntry>
        <StackEntry href="https://www.typescriptlang.org/" heading="Typescript" subheading="Javascript extension">
            <Typescript tailwindAttr=`${iconStyling}`/>
        </StackEntry>
        <StackEntry href="https://www.javascript.com/" heading="Javascript" subheading="Web programming">
            <Javascript tailwindAttr=`${iconStyling}`/>
        </StackEntry>
        <StackEntry href="https://developer.mozilla.org/en-US/docs/Web/HTML" heading="HTML" subheading="Standard markup language">
            <HTML tailwindAttr=`${iconStyling}`/>
        </StackEntry>
        <StackEntry href="https://developer.mozilla.org/en-US/docs/Web/CSS" heading="CSS" subheading="Style sheets">
            <CSS tailwindAttr=`${iconStyling}`/>
        </StackEntry>
        <StackEntry href="https://sass-lang.com/" heading="SCSS" subheading="CSS extension">
            <Scss tailwindAttr=`${iconStyling}`/>
        </StackEntry>
        <StackEntry href="https://twig.symfony.com/" heading="Twig" subheading="Templating Language">
            <Twig tailwindAttr=`${iconStyling}`/>
        </StackEntry>
    </TechStack>

    <TechStack heading="Libraries & Frameworks">
        <StackEntry href="https://symfony.com/" heading="Symfony" subheading="PHP framework">
            <Symfony tailwindAttr=`${iconStyling}`/>
        </StackEntry>
        <StackEntry href="https://www.shopware.com/" heading="Shopware" subheading="Ecommerce platform">
            <Shopware tailwindAttr=`${iconStyling}`/>
        </StackEntry>
        <StackEntry href="https://sulu.io/" heading="Sulu" subheading="CMS">
            <Sulu tailwindAttr=`${iconStyling}`/>
        </StackEntry>
        <StackEntry href="https://gohugo.io/" heading="Hugo" subheading="Static site generator">
            <Hugo tailwindAttr=`${iconStyling}`/>
        </StackEntry>
        <StackEntry href="https://astro.build/" heading="Astro" subheading="Javascript framework">
            <AstroJS tailwindAttr=`${iconStyling}`/>
        </StackEntry>

        <StackEntry href="https://react.dev/" heading="React" subheading="Javascript framework">
            <React tailwindAttr=`${iconStyling}`/>
        </StackEntry>

        <StackEntry href="https://tailwindcss.com/" heading="Tailwind CSS" subheading="CSS framework">
            <TailwindCSS tailwindAttr=`${iconStyling}`/>
        </StackEntry>
        <StackEntry href="https://stimulus.hotwired.dev/" heading="Stimulus JS" subheading="Javascript framework">
            <StimulusJS tailwindAttr=`${iconStyling}`/>
        </StackEntry>
    </TechStack>

    <TechStack heading="Tools & Software">
        <StackEntry href="https://git-scm.com/" heading="Git" subheading="Version control">
            <Git tailwindAttr=`${iconStyling}`/>
        </StackEntry>
        <StackEntry href="https://github.com/" heading="Github" subheading="Version control">
            <Github tailwindAttr=`${iconStyling}`/>
        </StackEntry>
        <StackEntry href="https://www.jetbrains.com/webstorm/" heading="WebStorm" subheading="Web development IDE">
            <WebStorm tailwindAttr=`${iconStyling}`/>
        </StackEntry>
        <StackEntry href="https://www.jetbrains.com/phpstorm/" heading="PhpStorm" subheading="PHP IDE">
            <PhpStorm tailwindAttr=`${iconStyling}`/>
        </StackEntry>
        <StackEntry href="https://www.figma.com/" heading="Figma" subheading="Design tool">
            <Figma tailwindAttr=`${iconStyling}`/>
        </StackEntry>
        <StackEntry href="https://www.adobe.com/products/xd.html" heading="Adobe XD" subheading="Vector design tool">
            <AdobeXD tailwindAttr=`${iconStyling}`/>
        </StackEntry>
        <StackEntry href="https://www.adobe.com/products/illustrator.html" heading="Adobe Illustrator" subheading="Vector graphics editor">
            <AdobeIllustrator tailwindAttr=`${iconStyling}`/>
        </StackEntry>
        <StackEntry href="https://www.adobe.com/products/photoshop.html" heading="Adobe Photoshop" subheading="Raster graphics editor">
            <AdobePhotoshop tailwindAttr=`${iconStyling}`/>
        </StackEntry>
        <StackEntry href="https://unity.com/" heading="Unity" subheading="Game development">
            <Unity tailwindAttr=`${iconStyling}`/>
        </StackEntry>
        <StackEntry href="https://www.blender.org/" heading="Blender" subheading="3D modeling">
            <Blender tailwindAttr=`${iconStyling}`/>
        </StackEntry>
        <StackEntry href="https://vercel.com/" heading="Vercel" subheading="Deployment">
            <Vercel tailwindAttr=`${iconStyling}`/>
        </StackEntry>
    </TechStack>
</Layout>