---
interface Props {
    href: string;
    heading: string;
    subheading: string;
    image: string;
    imageAlt: string;
    tags?: boolean;
    newTab?: boolean;
}

const { href, heading, subheading, image, imageAlt, tags, newTab} = Astro.props;
---

<div class="h-60 relative z-10">
    <a href={href} target={newTab ? "_blank" : "_self"} class="overflow-y-auto group">
        <div class="absolute z-10 p-4 bottom-0 left-0 space-y-2">
            <h2>{heading}</h2>
            <p class="hidden sm:block text-sm">
                {subheading}
            </p>
            {tags && (
                <div class="flex flex-wrap gap-2">
                    <slot />
                </div>
            )}
        </div>

        <img class="rounded-lg object-cover h-full w-full brightness-90 md:group-hover:brightness-100" src={image} alt={imageAlt} />
        <div class="absolute rounded-lg inset-0 bg-gradient-to-t from-primary/90 via-primary/60 to-transparent transition-all md:group-hover:outline md:group-hover:outline-4 outline-primary-lighter duration-200"/>
    </a>
</div>