---
import ArrowUpRight from "../../assets/icons/ArrowUpRight.astro";
import Tag from "../Tag.astro";

interface Props {
    position: string;
    company: string;
    companyWebsite: string;
    timeSpan: string;
    description: string;
    tags: string[];
}

const { position, company, companyWebsite, timeSpan, description, tags} = Astro.props;
---

<a href=`${companyWebsite}` target=”_blank” class="grid p-4 gap-y-2 rounded-lg bg-light-primary dark:bg-primary md:hover:outline md:hover:outline-4 outline-light-primary-lighter dark:outline-primary-lighter group">
    <span class="text-xs text-light-text-secondary dark:text-text-secondary font-semibold">{timeSpan}</span>

    <div class="flex flex-wrap font-medium">
        <span class="md:group-hover:text-light-accent dark:md:group-hover:text-accent">{position}</span>
        <span class="md:group-hover:text-light-accent dark:md:group-hover:text-accent">・</span>
        <span class="flex gap-x-1 items-center md:group-hover:text-light-accent dark:md:group-hover:text-accent">
            {company}
            <ArrowUpRight height="16" width="16" tailwindAttr="fill-light-text-primary dark:fill-text-primary md:group-hover:fill-accent md:group-hover:translate-x-1 md:group-hover:-translate-y-1"/>
        </span>
    </div>
    <p class="flex text-sm">{description}</p>
    <div class="flex flex-wrap gap-2">
        {tags.map(tag => (
            <Tag label={tag} />
        ))}
    </div>
</a>